<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>piano_scroll.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>BADAE0B11F8317FC00DAB4D4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BADAE0CB1F8317FC00DAB4D4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BADAE0D61F8317FD00DAB4D4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
